*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    padding: 10px 0px;
    background: #FFF5F0;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.header__left{
    display: flex;
    align-items: center;
}

.header__list{
    list-style-type: none;
    display: flex;
    gap: 10px;
    font-size: 14px;
    line-height: 24px;
}

.header__link{
    text-decoration: none;
    color: #737373;
}

.header__logo{
    font-size: 24px;
    line-height: 32px;
    color: #252B42;
}

.header__right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.header__login-link{
    text-decoration: none;
    color: #1BA0AB;
    font-size: 14px;
    font-weight: 700;
}

.btn{
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    background: #1BA0AB;
    border: none;
    color: #FFF;
}

.btn--main{
    background: #FFF;
}

.btn--secondary{
    background: #FFF5F0;
    border: 1px solid #1BA0AB;
    color: #1BA0AB;
}

.btn--cta{
    display: flex;
    gap: 10px;
    align-items: center;
}

/* HEADER BODY */
.header__body{
    padding: 100px 30px;
    width: 80%;
    margin: 0 auto;
}

.header__text{
    color: #737373;
    line-height: 30px;
    font-weight: 400;
    font-size: 20px;
}

/* MAIN */
.main{
    padding: 100px 0px;
    background: #FFF;
    width: 80%;
    margin: 0 auto;
}

.main__experts{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 0px;
    gap: 10px 120px;
}

.main__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.main__text{
    color: #737373;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.title{
    font-weight: 700;
    color: #252B42;
    margin:0;
    padding:0;
}

.title--medium{
    font-size: 40px;
    line-height: 50px;
}

.title--big{
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
}

.title--small{
    color: #1BA0AB;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.title--logo{
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
}

.title--card{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.main__team{
    padding: 40px 0;
}

.main__desc{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main__text{
    color: #737373;
    font-weight: 400px;
    line-height: 20px;
    letter-spacing: 0.2px;
}

/** MAIN CARDS */
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
    margin-top: 80px;
}

.cards__card{
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);

}

.cards__img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}

.cards__details{
    padding: 20px 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.cards__text{
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0.2px;
    color:  #737373;
}

.cards__socials{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
